<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>메가존클라우드 메일서명</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }
    body {
      padding: 20px;
      line-height: 1.4;
    }
  </style>
</head>
<body>
<table border="0" cellspacing="0" cellpadding="0" style="border-bottom-style:solid;border-bottom-width:1px;border-top-style:solid;border-top-color:#7faddd;width:800px;font-family:Gulim;margin:0px;padding:15px 0px 15px 0px;border-bottom-color:#7faddd;border-top-width:1px;">
  <tbody>
  <tr>
    <td width="176" align="center"><img src="https://imgnew.megazone.com/2019/06/mzc_logo-190605.png" alt="" border="0" width="88"></td>
    <td style="font-family:'Malgun Gothic';color:#000;font-size:12px;">
      <p style="margin-bottom:4px">
        <span style="font-weight:bold;vertical-align:baseline;white-space:pre-wrap;">김경민 (Kim KyoungMin)</span>
        <span style="vertical-align:baseline;white-space:pre-wrap;"> / Manager</span>
      </p>
      <p style="margin-bottom:22px;">
        <span style="vertical-align:baseline;white-space:pre-wrap;">CAA Team / MEGAZONE CLOUD</span>
      </p>
      <p style="font-family:arial,sans-serif;font-weight:800;vertical-align:baseline;white-space:pre-wrap;">AWS Premier Consulting Partner</p>
      <p>Channel Partner / MSP Partner / Public Sector Partner / Migration / <br> Digital Customer Experience  / Financial Services / Education / Nonprofit Competency</p>
      <p style="margin-bottom:22px;"><strong>클라우드 MSP 사업자 중 국내최초 ISMS 인증 획득 / ISO27001 인증 획득</strong></p>
      <p>
                        <span style="padding-right: 12px;">
                            <strong style="font-family:arial,sans-serif;font-weight:800;vertical-align:baseline;white-space:pre-wrap;">Email</strong>
                            <span style="color:#b5b5b5;vertical-align:baseline;white-space:pre-wrap;"> | </span>
                            kimkm95@mz.co.kr
                        </span>
        <span>
    						<strong style="font-family:arial,sans-serif;font-weight:800;vertical-align:baseline;white-space:pre-wrap;">Mobile</strong>
                            <span style="color:#b5b5b5;vertical-align:baseline;white-space:pre-wrap;"> | </span>
                            +82-10-0000-0000
                        </span>
        <br>
        <span style="padding-right: 12px;">
    						<strong style="font-family:arial,sans-serif;font-weight:800;vertical-align:baseline;white-space:pre-wrap;">Tel</strong>
                            <span style="color:#b5b5b5;vertical-align:baseline;white-space:pre-wrap;"> | </span>
                            1644-2243
                        </span>
        <span style="padding-right: 12px;">
    						<strong style="font-family:arial,sans-serif;font-weight:800;vertical-align:baseline;white-space:pre-wrap;">Fax</strong>
    						<span style="color:#b5b5b5;vertical-align:baseline;white-space:pre-wrap;"> | </span>
                            +82-2-2109-2599
                        </span>
        <br>
        <span>
    						<strong style="font-family:arial,sans-serif;font-weight:800;vertical-align:baseline;white-space:pre-wrap;">Website</strong>
                            <span style="color:#b5b5b5;vertical-align:baseline;white-space:pre-wrap;"> | </span>
    						<a href="https://www.megazone.com/" target="_blank">www.megazone.com</a>
    						<span style="color:#b5b5b5;vertical-align:baseline;white-space:pre-wrap;">/</span>
    						<a href="http://www.Hosting.kr/" target="_blank">Hosting.kr</a>
    						<span style="color:#b5b5b5;vertical-align:baseline;white-space:pre-wrap;">/</span>
    						<a href="http://www.pentacle.co.kr/" target="_blank">Pentacle.co.kr</a>
    						<span style="color:#b5b5b5;vertical-align:baseline;white-space:pre-wrap;">/</span>
    						<a href="http://indigo3d.co.kr/" target="_blank">Indigo3D.co.kr</a>
                        </span>
      </p>
      <p style="margin-bottom:4px">
        <span style="vertical-align:baseline;white-space:pre-wrap;">MEGAZONE B/D, 46, Nonhyunro 85, Gangnam-gu, Seoul, Korea 06235</span>
      </p>
    </td>
    <td width="140" align="right">
      <img src="https://imgnew.megazone.com/2019/06/apn-190620-1.png" alt="" border="0" width="120" style="display:block;" />
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>